# ── C# / .NET ──────────────────────────────────────────────
bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user

# ── Java / Maven ───────────────────────────────────────────
target/
*.class
*.jar
*.war

# ── Segredos / configurações locais ───────────────────────
appsettings.Development.json

# ── SO ─────────────────────────────────────────────────────
.DS_Store
Thumbs.db
